<h1 class = 'center'> {{apiData.data.username}}  </h1>
<input type="number" id="newrating">
<h2>Sampled Beers</h2>
<table class="table">
    <tr>
        <th>Beer Name</th>
        <th>Comment</th>
        <th>Rating</th>
    </tr>
    <tr ng-repeat = 'beer in apiData.data.items'>
        <td>{{beer.beer}}</td>
        <td>{{beer.comment}}</td>
        <td>{{beer.rating}}</td>
        <td><button ng-click="editBeer(beer)">Change my Rating</button></td>
        <td><button ng-click="unsampleBeer(beer)">I have not sampled this</button></td>

    </tr>
</table>




<h2>Beers I Haven't Tried</h2>
<table class="table">
    <tr>
        <th>Beer Name</th>
    </tr>
    <tr ng-repeat = 'beer in apiData.data.notsampled'>
        <td>{{beer.beer}}</td>
        <td><button ng-click="editBeer(beer)">Change my Rating</button></td>
        <td><button ng-click="sampleBeer(beer)">I just tried it!!</button></td>

    </tr>
</table>
